{% extends 'base.html' %}
{% load static %}
{% block title %}История развития золотодобычи в Забайкальском крае{% endblock title %}
{% block content %}
    <section class="history-section">
        <div class="container">
            <h1 class="heading">История развития золотодобычи в Забайкальском крае</h1>
            <div class="row" style="margin-top: 50px; justify-content: center">
                <div class="col-md-8">
                    <div class="toc-container">
                        <p class="toc-title">Оглавление</p>
                        <ul class="toc-list">
                            <li><a href="#i-1">С чего началась добыча на Забайкалье</a></li>
                            <li><a href="#i-2">Как разрабатывают современные россыпи Забайкалья</a></li>
                            <li><a href="#i-3">Перспективы новых месторождений</a></li>
                            <li><a href="#i-4">Кем и как добываются</a></li>
                            <li><a href="#i-5">Методы добычи</a></li>
                            <li><a href="#i-6">Объемы добычи</a></li>
                            <li><a href="#i-7">Использованные источники</a></li>
                        </ul>
                    </div>
                    <h2><span id="i-1">С чего началась добыча на Забайкалье</span></h2>
                    <p>Первое золото Забайкальского края было добыто попутно в 1702 г., когда разведали Нерчинское
                        месторождение серебряной руды. Спустя два года (1704 г.) было завершено строительство
                        Нерчинского плавильного завода. Из трёх тонн переплавляемой руды, содержащей серебро,
                        удавалось извлечь примерно 16 кг золота.</p>
                    <p>Карийская россыпь, открытая в 1838 г., положила начало «золотой лихорадке» Забайкалья. С этого
                        момента месторождения россыпного и коренного золота начали находить по всему региону.
                        В историю же вошла дата 31 мая 1843 г. В этот день было разрешено работать на приисках
                        частным лицам западной части Забайкалья. В Восточном Забайкалье это стало возможно лишь
                        спустя 20 лет.</p>
                    <h2><span id="i-2">Как разрабатывают современные россыпи Забайкалья</span></h2>
                    <p>Такие участки чаще всего отрабатывают небольшие артели старателей, а не золотодобывающие гиганты.
                        Работы ведутся промывочным способом. До начала сезона ведётся масштабная подготовка:
                        вырубка леса, расчистка дорог, прокладывание канала для отвода русла реки. С наступлением
                        оттепели делается вскрыша, т.е. с помощью экскаваторов и бульдозеров убирается несколько метров
                        горной породы, скрывающей золотоносные пески.</p>
                    <p>Если порода не пригодна для использования в строительной промышленности, она отвозится в отвалы.
                        Слой с полезными ископаемыми (там может быть и свинец, и серебро) подвергается промывке.
                        Для этого используется вода с отведённого русла и специальное оборудование. В бункер
                        промприбора загружается обрабатываемая порода, и под воздействием напора воды на трафарете
                        остаётся металл. Далее он отправляется на аффинажную фабрику, где очищается из примесей и
                        превращается в чистое золото.</p>
                    <h2><span id="i-3">Перспективы новых месторождений</span></h2>
                    <p>Согласно геологическим данным, в регионе имеется свыше 1000 проявлений драгоценного металла. В
                        эту цифру входят и золоторудные участки, и золотоносные пески. Также возможны месторождения на
                        дне Байкала. Но для точного подсчёта и утверждения запасов требуются дополнительные
                        геологоразведочные работы и значительные финансовые ресурсы.</p>
                    <p class="history-img"><img src="{% static 'img/history1.jpg' %}"></p>
                    <h2><span id="i-4">Кем и как добываются</span></h2>
                    <p>На сегодняшний день золотоносные месторождения разрабатывает около 50 предприятий. С учётом
                        потенциала региона их могло бы быть больше. Но нестабильная экономическая ситуация в стране
                        тормозит развитие добычной отрасли. К заброшенным и труднодоступным месторождениям проявляется
                        большой интерес со стороны Китая, готового инвестировать в добычу.</p>
                    <p>За 2020 год больше всего золота добыли следующие предприятия:</p>
                    <ul>
                        <li>Быстринский ГОК - 7,5 тонны</li>
                        <li>ГК «Мангазея-Майнинг» - 1,6 тонны</li>
                        <li>ПАО " Ксеньевский прииск" - 1,08 тонны</li>
                        <li>ОАО Прииск "Усть-Кара" - 1,08 тонны</li>
                        <li>ОАО "Прииск "Соловьевский" - 0,319 тонны</li>
                    </ul>
                    <p class="history-img"><img src="{% static 'img/history2.jpg' %}"></p>
                    <h2><span id="i-5">Методы добычи</span></h2>
                    <p>Россыпи Забайкалья обрабатываются промывочным способом, описанным выше. Золоторудные
                        месторождения осваиваются с помощью кучного выщелачивания. Его суть заключается в следующем.
                        Руда укладывается слоями на специальные поддоны. Под воздействием цианистого раствора
                        происходит химическая реакция, в результате которой выщелачивается золото и серебро.</p>
                    <h2><span id="i-6">Объемы добычи</span></h2>
                    <p>Объёмы добычи драгоценных металлов в регионе — стабильно высокие и имеют тенденцию к увеличению.
                        Общий объём добытого в Забайкалье ценного ресурса в 2020 году составил 11 тонн.</p>
                    <p>Сегодня Забайкальский край считается одним из самых богатых на полезные ископаемые регионов
                        России. К сожалению, из-за отсутствия инвестирования в нужном объёме, его потенциал не
                        развивается должным образом.</p>
                    <h2><span id="i-7">Использованные источники</span></h2>
                    <ol>
                        <li><a href="https://zhazhdazolota.ru/dobycha/v-zabajkalskom-krae">Добыча золота в Забайкальском
                            крае: список месторождений и золотодобывающих компаний, история, технологии и
                            перспективы</a>
                        </li>
                        <li><a href="https://cherish-centr.ru/o-zolote/zolotodobycha-zabajkalskij-kraj.html">Добыча
                            золота в Забайкальском крае: список месторождений и рудников, добывающие компании</a>
                        </li>
                        <li><a href="http://www.eruda.ru/gdp/zabaykalsky_kray.htm">Забайкальский край новости
                            золотодобывающих, угледобывающих, горнодобывающих компании 2022 г.</a>
                        </li>
                        <li><a href="http://www.eruda.ru/news_1/1108_rossii_dobyli_340_t_zolota_v_2020_godu.htm">Итоги
                            золотодобычи в РФ в 2020 году/данные минфина /новости горнодобывающих, угледобывающих,
                            нефтегазодобывающих компаний/работа вакансии</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
