{% extends 'base.html' %}
{% block title %}Информация о недропользователе{% endblock title %}
{% block content %}
    <section class="municipality_detail-section">
        <div class="container">
            <h1 class="heading">Информация о населенном пункте {{ locality.name }}</h1>
            <div class="row" style="margin-top: 50px; justify-content: center">
                <div class="col-md-8">
                    <p>Краткая информация о населенном пункте</p>
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th class="col-md-2 col-sm-3 col-xs-6" scope="row">Наименование</th>
                            <td class="col-md-2 col-sm-3 col-xs-6">{{ locality.name }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Тип населенного пункта</th>
                            <td>{{ locality.id_locality_type.name }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Район</th>
                            <td>{{ locality.id_area.name }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <p>Месторождения связанные с населенным пунктом</p>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Название месторождения</th>
                            <th scope="col">Район месторождения</th>
                            <th scope="col">Название лицензии</th>
                            <th scope="col">Направление от населенного пункта</th>
                            <th scope="col">Расстояние</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for d in loc_dep %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ d.id_deposit.name }}</td>
                                <td>{{ d.id_deposit.id_area.name }}</td>
                                <td>{{ d.id_deposit.id_license.name }}</td>
                                <td>{{ d.direction }}</td>
                                <td>{{ d.distance }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% for d_l in loc_dep %}
                        <details>
                            <summary>{{ d_l.id_deposit.name }}</summary>
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <th class="col-md-2 col-sm-3 col-xs-6" scope="row">Название месторождения</th>
                                    <td class="col-md-2 col-sm-3 col-xs-6">{{ d_l.id_deposit.name }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Район месторождения</th>
                                    <td>{{ d_l.id_deposit.id_area.name }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Название лицензии</th>
                                    <td>{{ d_l.id_deposit.id_license.name }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Направление от населенного пункта</th>
                                    <td>{{ d_l.direction }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Расстояние</th>
                                    <td>{{ d_l.distance }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </details>
                        <hr/>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}