{% extends 'base.html' %}
{% load static %}
{% block title %}Информация о населенном пункте {{ locality.name }}{% endblock title %}
{% block content %}
    <section class="municipality_detail-section">
        <div class="container">
            <h1 class="heading">Информация о населенном пункте {{ locality.name }}</h1>
            <div class="row" style="margin-top: 50px; justify-content: center">
                <div class="col-md-8">
                    <p>Краткая информация о населенном пункте</p>
                    <table class="table">
                        <tbody>
                        <tr>
                            <th class="col-md-2 col-sm-3 col-xs-6" scope="row">Наименование</th>
                            <td class="col-md-2 col-sm-3 col-xs-6">{{ locality.name }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Тип населенного пункта</th>
                            <td>{{ locality.id_locality_type.name }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Район</th>
                            <td>{{ locality.id_area.name }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <p>Месторождения связанные с населенным пунктом</p>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr class="text-center">
                                <th scope="col">#</th>
                                <th scope="col">Месторождение</th>
                                <th scope="col">Район месторождения</th>
                                <th scope="col">Лицензия</th>
                                <th scope="col">Направление</th>
                                <th scope="col">Расстояние</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for d in loc_dep %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>
                                        <a
                                           href="{% url 'subsoil_user_detail' d.id_deposit.id_license.id_subsoil_users.pk %}">
                                            {{ d.id_deposit.name }}
                                        </a>
                                    </td>
                                    <td><a
                                           href="{% url 'area_detail' d.id_deposit.id_area.pk %}">{{ d.id_deposit.id_area.name }}</a>
                                    </td>
                                    <td>{{ d.id_deposit.id_license.name }}</td>
                                    <td>{{ d.direction }}</td>
                                    <td>{{ d.distance }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <p></p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" class="btn btn-primary print">Отчет PDF</button>
                        <a href="{% url 'locality_doc' locality.pk %}" class="a_doc">
                            <button type="button" class="btn btn-primary print button_doc">Отчет DOCX</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
{% block js %}
    <script src="{% static 'js/print_pdf.js' %}"></script>
{% endblock js %}