{% extends 'base.html' %}
{% block title %}Недропользователи{% endblock title %}
{% block content %}
    <section class="subsoil_users-section">
        <div class="container">
            <h1 class="heading">Недропользователи</h1>
            <div class="row" style="margin-top: 50px; justify-content: center">
                <div class="col-md-8">
                    <p>На данной странице представлен список действующих недропользователей. Для более подробной
                        информации нажмите на интересующего Вас недропользователя.</p>
                    <ol class="list_sub_users">
                        {% for subsoil_users in page_obj %}
                            <li><a href="{{ subsoil_users.get_absolute_url }}">{{ subsoil_users.name }}</a></li>
                        {% endfor %}
                    </ol>
                    {% if page_obj.has_other_pages %}
                        <nav class="list-pages">
                            <ul class="pagination justify-content-center">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page=1">&laquo;</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="?page={{ page_obj.previous_page_number }}">&lsaquo;</a>
                                    </li>
                                {% endif %}
                                {% for p in paginator.page_range %}
                                    {% if page_obj.number == p %}
                                        <li class="page-item active" aria-current="page">
                                            <a class="page-link" href="#">{{ p }}</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">&rsaquo;</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                                            &raquo;</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}