{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Недропользователи{% endblock title %}
{% block content %}
    <section class="subsoilusers-section">
        <div class="container">
            <h1 class="heading">Недропользователи и лицензии</h1>
            <div class="row" style="margin-bottom: 50px; margin-top: 50px; justify-content: center">
                <div class="col-md-8">
                    <form class="d-grid gap-2" action="" method="GET">
                        {% csrf_token %}
                        {% crispy form %}
                    </form>
                    <table class="table table-hover caption-top">
                        <caption>Информация о недропользователе</caption>
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}