{% extends 'base.html' %}
{% load static %}
{% block title %}Информация о недропользователе {{ subsoil_user.name }}{% endblock title %}
{% block content %}
    <section class="subsoil_users_detail-section">
        <div class="container">
            <h1 class="heading">Информация о недропользователе {{ subsoil_user.name }}</h1>
            <div class="row" style="margin-top: 50px; justify-content: center">
                <div class="col-md-8">
                    <p>В данной таблице представлены основные данные по недропользователю</p>
                    <table class="table caption-top">
                        <caption>Информация о недропользователе</caption>
                        <tbody>
                        <tr>
                            <th class="col-md-2 col-sm-3 col-xs-6" scope="row">Наименование</th>
                            <td class="col-md-2 col-sm-3 col-xs-6">{{ subsoil_user.name }}</td>
                        </tr>
                        <tr>
                            <th scope="row">ИНН</th>
                            <td>{{ subsoil_user.tin }}</td>
                        </tr>
                        <tr>
                            <th scope="row">КПП</th>
                            <td>{{ subsoil_user.iec|default_if_none:"Отсутствует" }}</td>
                        </tr>
                        <tr>
                            <th scope="row">ОРГН</th>
                            <td>{{ subsoil_user.psrn_psrnsp }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Дата регистрации</th>
                            <td>{{ subsoil_user.date_of_registration }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Руководитель</th>
                            <td>{{ subsoil_user.director }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <p>В данной таблице представлена информация о лицензиях, которые находятся у недропользователя</p>
                    <div class="table-responsive">
                        <table class="table table-bordered caption-top">
                            <caption>Информация о лицензиях</caption>
                            <thead>
                            <tr class="text-center">
                                <th scope="col">#</th>
                                <th cscope="col">Лицензия</th>
                                <th scope="col">Месторождение</th>
                                <th scope="col">Запасы месторождения (A+B+C1), кг</th>
                                <th scope="col">Запасы месторождения (C2), кг</th>
                                <th scope="col">Забалансовые запасы месторождения, кг</th>
                                <th scope="col">Суммарные запасы месторождения, кг</th>
                                <th scope="col">Дата начала срока действия лицензии</th>
                                <th scope="col">Дата окончания срока действия лицензии</th>
                                <th scope="col">Действие лицензии прекращено</th>
                                <th scope="col">Целевое назначение лицензии</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for d in deposit %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ d.id_license.name }}</td>
                                    <td>{{ d.name }}</td>
                                    <td>{{ d.a_b_c1|default_if_none:"Отсутствуют" }}</td>
                                    <td>{{ d.c2|default_if_none:"Отсутствуют" }}</td>
                                    <td>{{ d.off_balance|default_if_none:"Отсутствуют" }}</td>
                                    {% if d.a_b_c1 == None and d.c2 == None and d.off_balance == None %}
                                        <td>Отсутствуют</td>
                                    {% elif d.a_b_c1 == None and d.c2 == None %}
                                        <td>{{ d.off_balance }}</td>
                                    {% elif d.a_b_c1 == None and d.off_balance == None %}
                                        <td>{{ d.c2 }}</td>
                                    {% elif d.c2 == None and d.off_balance == None %}
                                        <td>{{ d.a_b_c1 }}</td>
                                    {% elif d.a_b_c1 == None %}
                                        <td>{{ d.c2|add:d.off_balance }}</td>
                                    {% elif d.c2 == None %}
                                        <td>{{ d.a_b_c1|add:d.off_balance }}</td>
                                    {% elif d.off_balance == None %}
                                        <td>{{ d.a_b_c1|add:d.c2 }}</td>
                                    {% else %}
                                        <td>{{ d.a_b_c1|add:d.c2|add:d.off_balance }}</td>
                                    {% endif %}
                                    <td>{{ d.id_license.start_date }}</td>
                                    <td>{{ d.id_license.end_date }}</td>
                                    <td>{{ d.id_license.cancelled|yesno:"Да, Нет" }}</td>
                                    <td>{{ d.id_license.destination }}</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <th scope="row">Итого</th>
                                <td colspan="2"></td>
                                    <td>{{ a_b_c1.abc1|default_if_none:"Отсутствуют" }}</td>
                                    <td>{{ c2.c2|default_if_none:"Отсутствуют" }}</td>
                                    <td>{{ off_balance.off_balance|default_if_none:"Отсутствуют" }}</td>
                                    {% if a_b_c1.abc1 == None and c2.c2 == None and off_balance.off_balance == None %}
                                        <td>Отсутствуют</td>
                                    {% elif a_b_c1.abc1 == None and c2.c2 == None %}
                                        <td>{{ off_balance.off_balance }}</td>
                                    {% elif a_b_c1.abc1 == None and off_balance.off_balance == None %}
                                        <td>{{ c2.c2 }}</td>
                                    {% elif c2.c2 == None and off_balance.off_balance == None %}
                                        <td>{{ a_b_c1.abc1 }}</td>
                                    {% elif a_b_c1.abc1 == None %}
                                        <td>{{ c2.c2|add:off_balance.off_balance }}</td>
                                    {% elif c2.c2 == None %}
                                        <td>{{ a_b_c1.abc1|add:off_balance.off_balance }}</td>
                                    {% elif off_balance.off_balance == None %}
                                        <td>{{ a_b_c1.abc1|add:c2.c2 }}</td>
                                    {% else %}
                                        <td>{{ a_b_c1.abc1|add:c2.c2|add:off_balance.off_balance }}</td>
                                    {% endif %}
                                <td colspan="4"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <p></p>
                    {#                    <div class="details">#}
                    {#                        {% for d in deposit %}#}
                    {#                            <details>#}
                    {#                                <summary>Информация о лицензии {{ d.id_license.name }} ({{ d.name }})</summary>#}
                    {#                                <table class="table table-bordered">#}
                    {#                                    <tbody>#}
                    {#                                    <tr>#}
                    {#                                        <th class="col-md-2 col-sm-3 col-xs-6" scope="row">Лицензия</th>#}
                    {#                                        <td class="col-md-2 col-sm-3 col-xs-6">{{ d.id_license.name }}</td>#}
                    {#                                    </tr>#}
                    {#                                    <tr>#}
                    {#                                        <th scope="row">Месторождение</th>#}
                    {#                                        <td>{{ d.name }}</td>#}
                    {#                                    </tr>#}
                    {#                                    <tr>#}
                    {#                                        <th scope="row">Запасы месторождения (A+B+C1), кг</th>#}
                    {#                                        <td>{{ d.a_b_c1|default_if_none:"Отсутствуют" }}</td>#}
                    {#                                    </tr>#}
                    {#                                    <tr>#}
                    {#                                        <th scope="row">Запасы месторождения (C2), кг</th>#}
                    {#                                        <td>{{ d.c2|default_if_none:"Отсутствуют" }}</td>#}
                    {#                                    </tr>#}
                    {#                                    <tr>#}
                    {#                                        <th scope="row">Забалансовые запасы месторождения, кг</th>#}
                    {#                                        <td>{{ d.off_balance|default_if_none:"Отсутствуют" }}</td>#}
                    {#                                    </tr>#}
                    {#                                    {% if d.a_b_c1 == None and d.c2 == None and d.off_balance == None %}#}
                    {#                                        <tr>#}
                    {#                                            <th scope="row">Суммарные запасы месторождения</th>#}
                    {#                                            <td>Отсутствуют</td>#}
                    {#                                        </tr>#}
                    {#                                    {% elif d.a_b_c1 == None and d.c2 == None %}#}
                    {#                                        <tr>#}
                    {#                                            <th scope="row">Суммарные запасы месторождения</th>#}
                    {#                                            <td>{{ d.off_balance }}</td>#}
                    {#                                        </tr>#}
                    {#                                    {% elif d.a_b_c1 == None and d.off_balance == None %}#}
                    {#                                        <tr>#}
                    {#                                            <th scope="row">Суммарные запасы месторождения</th>#}
                    {#                                            <td>{{ d.c2 }}</td>#}
                    {#                                        </tr>#}
                    {#                                    {% elif d.c2 == None and d.off_balance == None %}#}
                    {#                                        <tr>#}
                    {#                                            <th scope="row">Суммарные запасы месторождения</th>#}
                    {#                                            <td>{{ d.a_b_c1 }}</td>#}
                    {#                                        </tr>#}
                    {#                                    {% elif d.a_b_c1 == None %}#}
                    {#                                        <tr>#}
                    {#                                            <th scope="row">Суммарные запасы месторождения</th>#}
                    {#                                            <td>{{ d.c2|add:d.off_balance }}</td>#}
                    {#                                        </tr>#}
                    {#                                    {% elif d.c2 == None %}#}
                    {#                                        <tr>#}
                    {#                                            <th scope="row">Суммарные запасы месторождения</th>#}
                    {#                                            <td>{{ d.a_b_c1|add:d.off_balance }}</td>#}
                    {#                                        </tr>#}
                    {#                                    {% elif d.off_balance == None %}#}
                    {#                                        <tr>#}
                    {#                                            <th scope="row">Суммарные запасы месторождения</th>#}
                    {#                                            <td>{{ d.a_b_c1|add:d.c2 }}</td>#}
                    {#                                        </tr>#}
                    {#                                    {% else %}#}
                    {#                                        <tr>#}
                    {#                                            <th scope="row">Суммарные запасы месторождения</th>#}
                    {#                                            <td>{{ d.a_b_c1|add:d.c2|add:d.off_balance }}</td>#}
                    {#                                        </tr>#}
                    {#                                    {% endif %}#}
                    {#                                    <tr>#}
                    {#                                        <th scope="row">Дата начала срока действия лицензии</th>#}
                    {#                                        <td>{{ d.id_license.start_date }}</td>#}
                    {#                                    </tr>#}
                    {#                                    <tr>#}
                    {#                                        <th scope="row">Дата окончания срока действия лицензии</th>#}
                    {#                                        <td>{{ d.id_license.end_date }}</td>#}
                    {#                                    </tr>#}
                    {#                                    <tr>#}
                    {#                                        <th scope="row">Действие лицензии прекращено</th>#}
                    {#                                        <td>{{ d.id_license.cancelled|yesno:"Да, Нет" }}</td>#}
                    {#                                    </tr>#}
                    {#                                    <tr>#}
                    {#                                        <th scope="row">Целевое назначение лицензии</th>#}
                    {#                                        <td>{{ d.id_license.destination }}</td>#}
                    {#                                    </tr>#}
                    {#                                    </tbody>#}
                    {#                                </table>#}
                    {#                            </details>#}
                    {#                            <hr/>#}
                    {#                        {% endfor %}#}
                    {#                    </div>#}
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" class="btn btn-primary print">Отчет PDF</button>
                        <a href="{% url 'subsoil_user_doc' subsoil_user.pk %}" class="a_doc">
                            <button type="button" class="btn btn-primary print button_doc">Отчет DOCX</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
{% block js %}
    <script src="{% static 'js/print_pdf.js' %}"></script>
{% endblock js %}