body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 115%;
}

.main {
    flex-grow: 1;
}

section {
    padding: 50px 0;
}

a {
    color: #111;
}

a:hover {
    color: #555;
}

.GoTop, .GoBottom {
    position: fixed;
    right: 1px;
    cursor: pointer;
    width: 70px;
    height: 70px;
}

.GoBottom {
    bottom: 20px;
}

.GoTop {
    bottom: 100px;
}

/* Header */
.navbar-light .navbar-nav .nav-link {
    color: #111;
}

.top-menu li a::after {
    content: '';
    display: block;
    width: 100%;
    background-color: #111;
    height: 1px;
    transition: all .3s;
    transform: scale(0);
}

.top-menu li a:hover:after {
    transform: scale(1);
}

/* Header */

/* Carousel */
.container-fluid.main {
    position: relative;
    min-height: 320px;
    padding: 0;
}

.carousel .background {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 92vh;
}

@media (max-width: 991px) {
    .carousel .background {
        background-size: cover; /* To make the background image looks good */
    }
}

.carousel .background.a {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/static/img/Carousel5.jpg);
}

.carousel .background.b {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/static/img/Carousel7.jpg);
}

.carousel .background.c {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/static/img/Carousel2.jpg);
}

.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition: opacity 0.5s;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

.carousel-caption {
    top: 35%;
    bottom: auto;
}

.title {
    font-family: Verdana;
    font-weight: 600;
    font-size: 60px;
    color: #ffffff;
    text-align: center;
}

@media (max-width: 412px) {
    .title {
        font-size: 40px;
    }
}

.subtitle {
    font-family: Verdana;
    font-size: 23px;
    color: #ffffff;
    text-align: center;
}

@media (max-width: 412px) {
    .subtitle {
        font-size: 23px;
    }
}

.explore {
    text-align: center;
    margin-top: 10px;
}

.explore .btn-lg,
.explore .btn-lg:hover {
    border-radius: 30px;
    padding: 15px 25px;
    font-size: 22px;
    background-image: none;
    background-color: #FF4000;
    border-color: #FF4000;
    color: #ffffff;
}

.btn,
.btn:hover {
    border-radius: 0px;
    background-image: none;
    background-color: #FF4000;
    border-color: #FF4000;
    color: #ffffff;
    margin-bottom: 20px;
    box-shadow: none;
    outline: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    color: #ffffff;
    outline: none;
}

/* Carousel */

/* History Content */
.heading {
    text-align: center;
    font-size: 215%;
    /*Нормальный размер*/
}

.toc-container {
    margin: 30px 0;
    padding: 25px 30px;
    background-color: #ededed;
}

.toc-title {
    font-size: 20px;
    font-weight: 500;
}

.toc-list {
    padding: 0 0 0 40px;
}

.toc-list li a {
    color: #062980
}

.toc-list li a:hover {
    text-decoration: none;
    color: #555;
}

.history-img img {
    width: 100%;
    height: auto;
}

.history-video {
    position: relative;
    overflow: hidden;
    height: 0;
    padding: 56.25% 0 0;
}

.history-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* History Content */

/* Map Content */
#mapid {
    height: 94vh;
}

/* Map Content */

/* Area Detail Content */
.a_doc {
    text-decoration: none;
}

.button_doc {
    display: block;
    width: 100%;
}

.a_official_portal {
    visibility: hidden;
}

/* Area Detail Content */

/* Subsoil users Content */

.list_sub_users {
    list-style: circle;
    margin: 0 0 0 45px;
    padding: 15px 0 5px 0;
    color: red;
}

.list_sub_users li {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 10px 0;
    line-height: 1.4;
}

.list_sub_users li:before {

}

.list_sub_users li a {
    text-decoration: none;
}

/* Subsoil users Content */

/* Municipality Content */

.list_municipality {
    list-style: circle;
    margin: 0 0 0 45px;
    padding: 15px 0 5px 0;
    color: red;
}

.list_municipality li {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 10px 0;
    line-height: 1.4;
}

.list_municipality li:before {

}

.list_municipality li a {
    text-decoration: none;
}

/* Municipality Content */

/* Diagram Content */
@media (min-width: 500px) {
    #container_diagram {
        height: 400px;
    }
}
/* Diagram Content */

/* Paginator */

.pagination {
    justify-content: center;
}

.pagination a {
    text-decoration: none;
}

/* Paginator */

/* Footer */

footer {
    /* Чтобы footer не уменьшался */
    flex-shrink: 0;
}

/* Footer */
@media print {
    .navbar,
    .details,
    .btn-primary,
    .GoTop,
    .GoBottom,
    footer {
        display: none;
    }

    .table-responsive {
        overflow-x: visible;
        font-size: 11px;
    }

    @page {
        margin: 30px auto;
    }

    .a_official_portal {
        visibility: visible;
    }

    a {
        text-decoration: none;
    }
}